[project]
	description = Automatically exported from code.google.com/p/exceptionhandler
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/judywangsg
[access "refs/for/refs/*"]
	read = group user/judywangsg
	push = group user/judywangsg
	label-Code-Review = -2..+2 group user/judywangsg
	label-Verified = -1..+1 group user/judywangsg
	rebase = group user/judywangsg
	removeReviewer = group user/judywangsg
	submit = group user/judywangsg
[access "refs/heads/*"]
	read = group user/judywangsg
	create = group user/judywangsg
	push = +force group user/judywangsg
	pushMerge = group user/judywangsg
[access "refs/tags/*"]
	push = +force group user/judywangsg
	pushTag = group user/judywangsg
	pushSignedTag = group user/judywangsg
